    <footer class="container center-text">
      <div x-data="{ date: new Date().getFullYear() }" x-cloak>
        Copyright © <span x-text="date"></span>
      </div>
    </footer>
  </body>
</html>
