<%- include("layout/default-head", { title: "Image Processor", stylesFile:
"image", scriptFile: "image" }) %>

<h1 class="center-text" x-init x-text="$store.image?.image?.filename"></h1>

<main class="container">
  <div class="image-preview-container" x-data="$store.image" x-init="getImage">
    <div class="image-preview">
      <img x-bind:src="previewImage" />
    </div>
    <p><small x-text="previewImage"></small></p>
  </div>
</main>

<form
  x-data="$store.resizeForm"
  x-on:submit.prevent="onSubmit"
  class="container resize-form"
>
  <h3>Resize image</h3>

  <div class="row">
    <div class="input-field columns six">
      <label for="width">Width</label>
      <input type="number" name="width" id="width" class="u-full-width" />
    </div>

    <div class="input-field columns six">
      <label for="height">Height</label>
      <input type="number" name="height" id="height" class="u-full-width" />
    </div>
  </div>

  <button type="submit" class="button-primary u-full-width">Resize</button>
</form>

<%- include("layout/default-footer") %>
