.image-preview-container {
  display: grid;
  place-items: center;
}

.image-preview {
  max-width: 100%;
  max-height: 800px;
  overflow-x: auto;
}

.image-preview img {
  display: block;
  border-radius: 4px;
}

.operate-form .row {
  margin-bottom: 2rem;
}

.operate-form .input-field input[type="range"] {
  margin-bottom: 0;
}
