/* ====== Custom Properties ====== */
:root {
  --dialog-background: #93939377;
  --clr-border: #888;
  --clr-danger: #f14343;
  --clr-danger-fade: #fbbdbd;
  --clr-body-bg: #f5f5f5;
}

/* ====== Reset ====== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== globals ====== */
body {
  background: var(--clr-body-bg);
}

/* ====== Utils ====== */
.block {
  display: block;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-text {
  text-align: center;
}
.button-large {
  height: auto;
  font-size: 1.5rem;
  padding: 5px 20px;
}
.danger-text {
  color: var(--clr-danger);
}

/* ====== Main styles ====== */
h1 {
  margin: 50px 0;
}

/* add image */
.add-image button.toggle-form {
  margin: 50px 0;
}

.add-image dialog {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  border: none;
  background-color: var(--dialog-background);
}

.add-image dialog form {
  background: var(--clr-body-bg);
  border-radius: 4px;
  padding: 60px;
  width: min(600px, 80%);
  max-height: 80vh;
  overflow-y: scroll;
}
.add-image .preview {
  border-radius: 4px;
  width: min(300px, 80%);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px 0;
}
.add-image .error {
  border: 1px solid var(--clr-danger-fade);
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
}
.add-image .error:hover {
  border-color: var(--clr-danger);
}
.add-image .error svg {
  height: 15px;
}

/* grid images */
.available-images .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.available-images img {
  border-radius: 4px;
}
.available-images figure {
  margin: 0;
}

footer > div {
  margin: 60px 0;
}

/* ====== Media Queries ====== */
@media screen and (max-width: 720px) {
  .available-images .grid {
    grid-template-columns: 1fr;
  }
  .add-image dialog form {
    padding: 20px;
  }
}
